.add-listing {
    &.about {
        header {
            display: flex;
            justify-content: space-between;
            padding-top: 32px;
            margin-block-end: 24px;

            img {
                width: 32px;
                height: 32px;
                cursor: pointer;
            }

            button {
                border-radius: 32px;
                font-size: 14px;
                padding: 10px 16px;
                border-color: $gray2;

                &:hover {
                    border-color: $gray4;
                }
            }
        }

        footer {
            display: flex;
            justify-content: space-between;
            padding-block: 20px;

            button {
                font-size: 14px;
                padding: 10px 17px;
                background-color: white;
                color: $gray5;
                width: 120px;

                &:hover {
                    background-color: $gray1;
                }

                &.btn-link {
                    text-align: start !important;
                }

                &.disabled {
                    color: whitesmoke;
                    background-color: #dddddd;
                    cursor: not-allowed;
                    border: none;
                }
            }

        }

        .main {
            text-align: center;
            color: $gray5;

            span {
                font-size: 18px;
            }

            .selection {
                margin: 0 auto;

                .selection-grid {
                    margin: 0 auto;
                    width: 630px;
                }
            }

            .info {
                flex-direction: column;
                height: unset;
                max-width: 630px;
                margin: 0 auto;

                h2 {
                    font-size: 32px;
                    padding-block-start: 0;
                }

                h3 {
                    margin-block-end: 24px;
                }

                p {
                    margin-block-end: 24px;
                    color: $gray4;
                }

                textarea {
                    width: 100%;
                    max-width: 630px;
                    min-height: 144px;
                    resize: none;
                    border-radius: 10px;
                    padding: 16px;
                    text-overflow: ellipsis;
                    font-size: 18px;
                    line-height: 1.75rem;
                    overflow-y: auto;
                    font-family: sans-serif;
                    color: rgb(34, 34, 34);

                    &::placeholder {
                        color: rgb(34, 34, 34);
                        opacity: 1;
                        /* Ensure placeholder opacity is not reduced */
                    }
                }
            }

            .selection {
                padding-block: 12px 32px;

                .selection-grid {
                    display: grid;
                    justify-content: center;
                    gap: 20px;
                    margin: 0 auto;
                }

                h3 {
                    margin-block: 0 4px;
                    font-size: 18px;
                }

                .option-item {
                    display: flex;
                    align-items: center;
                    padding: 20px;
                    border: 1px solid; // Default border
                    border-color: $gray2;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: border-color 0.3s, background-color 0.3s;
                    max-width: 630px;
                    text-align: start;


                    // Hide the actual radio input
                    input[type="radio"] {
                        display: none;
                    }

                    .option-content {
                        flex-grow: 1;

                        p {
                            margin: 0;
                            font-size: 14px;
                            color: $gray4;
                        }
                    }

                    // Change border color on hover
                    &:hover {
                        border-color: black;
                        border: 2px solid; // Default border

                    }

                    &.selected {
                        border-color: black;
                        background-color: $gray1; // Background color when selected
                        border: 2px solid; // Default border

                    }
                }
            }


        }
    }
}

.add-listing {
    @media (max-width: 743px) {
        grid-column: span 3 !important;

        .main>*:not(.location):not(.imgs),
        header,
        footer {
            padding-inline: 20px;
        }


        .info {
            margin-inline: 20px;
            max-width: 100% !important;


            section,
            .selection-grid {
                width: 100% !important;
            }
        }


    }


}