.add-listing {
    &.about {
        .main {
            text-align: center;
            color: $gray5;

            span {
                font-size: 18px;
            }

            .info {
                flex-direction: column;
                height: unset;

                h2 {
                    font-size: 32px;
                    padding-block-start: 0;
                }

                h3 {
                    margin-block-end: 24px;
                }

                p {
                    margin-block-end: 24px;
                    color: $gray4;
                }

                .selection {
                    margin: 0 auto;
                }

                textarea {
                    width: 100%;
                    max-width: 630px;
                    min-height: 144px;
                    resize: none;
                    border-radius: 10px;
                    padding: 16px;
                    text-overflow: ellipsis;
                    font-size: 18px;
                    line-height: 1.75rem;
                    overflow-y: auto;
                    font-family: sans-serif;
                    color: rgb(34, 34, 34);

                    &::placeholder {
                        color: rgb(34, 34, 34);
                        opacity: 1;
                        /* Ensure placeholder opacity is not reduced */
                    }
                }
            }

            .cloudinary {
                display: grid;
                flex-direction: column;
                justify-content: center;
                background-color: $gray1;
                padding-block: 48px;
                border: 1px dashed;
                border-color: $gray3;
                max-width: 60vw;
                margin: 0 auto;

                &.gallery-display {
                    padding-block: 0;

                    .grid-container {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 24px;

                        .grid-item {
                            &:first-of-type {
                                grid-column: span 2;
                            }

                            img {
                                object-fit: cover;
                                padding-block-end: 24px;
                                aspect-ratio: 1;
                            }
                        }


                    }
                }

                .default-image {
                    width: 182px;
                    aspect-ratio: 1/1;
                    margin: 0 auto;
                }

                button {
                    margin: 0 auto;

                    &:hover {
                        background-color: $gray1;
                    }
                }
            }

            .location {
                padding-block: 24px 32px;
                margin: 0 auto;

                .map {
                    margin: 0 auto;
                    padding-block: 24px;
                    width: 80vw;
                    height: 70vh;
                    max-width: 630px;

                    div div {
                        border-radius: 20px;
                    }

                    .custom-marker {
                        position: relative;
                        transform: translate(-50%, -50%);
                        /* Optional: Set a default size for the marker */
                        width: 100px;
                        height: 100px;
                    }
                }
            }

            .listing-rooms {
                margin-block-end: 32px;

            }

            .room-info {
                width: 100%;
                max-width: 50vw;
                color: $gray4;

                .number-input {
                    display: flex;
                    justify-content: space-between;
                    padding-block: 24px;
                    box-shadow: 0px 1px 0 0 #e1dede;

                    input {
                        color: $gray4; // Text color when input is focused

                        border: none;
                        width: 45px;
                        font-size: 16px;
                        text-align: center;
                        padding-inline-start: 12px;


                        &:focus {
                            outline: none;
                        }
                    }

                    button {
                        width: unset;
                        padding: 10px;
                        border-radius: 50%;
                        border-color: $gray3;

                        &:hover {
                            border-color: $gray5;
                            background-color: transparent;

                            svg {
                                fill: $gray5;
                            }
                        }

                        svg {
                            display: block;
                            height: 12px;
                            width: 12px;
                            fill: gray;
                        }
                    }
                }
            }

            .selection {
                padding-block: 12px 32px;

                .selection-grid {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;


                }

                h3 {
                    margin-block: 0 4px;
                    font-size: 18px;
                }

                .option-item {
                    display: flex;
                    align-items: center;
                    padding: 20px;
                    border: 1px solid; // Default border
                    border-color: $gray2;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: border-color 0.3s, background-color 0.3s;
                    max-width: 630px;
                    text-align: start;


                    // Hide the actual radio input
                    input[type="radio"] {
                        display: none;
                    }

                    .option-content {
                        flex-grow: 1;

                        p {
                            margin: 0;
                            font-size: 14px;
                            color: $gray4;
                        }
                    }

                    // Change border color on hover
                    &:hover {
                        border-color: black;
                        border: 2px solid; // Default border

                    }

                    &.selected {
                        border-color: black;
                        background-color: $gray1; // Background color when selected
                        border: 2px solid; // Default border

                    }
                }
            }

            .listing-amenities {
                p {
                    margin-block-end: unset;
                }

                section h3 {
                    margin-block: 48px !important;
                }

                .selection-grid {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    max-width: 630px;
                    margin: 0 auto;

                    .option-item {
                        width: 180px;
                        height: 99px;

                        &:active {
                            transform: scale(1.2s); // Shrink the selected item when clicked
                        }

                        &.selected {
                            transform: scale(0.8);
                            /* Shrinks the item initially */
                            animation: scaleUp 0.3s ease-in-out forwards;
                            /* Animation to scale back up */
                        }

                        input[type='checkbox'] {
                            display: none;

                        }

                        p {
                            font-size: 16px;
                            color: $gray5;
                            font-weight: bolder;
                        }

                        img{
                            padding-block-end: 8px;
                        }
                    }
                }
            }

            .txt-area {

                &.description{
                    position: relative;
                }
                .char-limit {
                    color: rgb(106, 106, 106) !important;
                    font-size: 12px;
                    font-weight: 700;
                    line-height: 16px;
                    padding: 10px;
                    margin-inline-end: 20px;
                    text-align: end;
                }
            }

        }
    }
}

.add-listing {
    @media (max-width: 743px) {
        grid-column: span 3 !important;

        .info {
            margin-inline: 20px;

            section {
                width: 100%;
            }
        }

        .location .map {
            width: 100% !important;
        }

        .cloudinary {
            margin: 0 !important;
            width: 100% !important;
            max-width: 100% !important;
        }

        .listing-amenities {
            .selection-grid {
                grid-template-columns: repeat(2, 1fr) !important;

                .option-item {
                    width: unset !important;
                    height: unset !important;
                }
            }


        }
    }
}