.order {
    .logo {
        height: 40px;
        margin: 24px 30px 0 0;
        margin-inline: -2em;
    }

    .main-hr {
        height: 1px;
        margin-inline: -2.5em;
        background-color: $gray2;
        border: none;
        width: calc(100% + 80px);
        // border: 1px solid rgb(233, 223, 223);
    }
}

.stay-main-order {
    // display: grid;
    grid-column: 2;
    // grid-template-columns: 1fr minmax(268px, 508px);
    // align-items: flex-start;
    // border-top: 1px solid rgb(233, 223, 223);
    // margin-top: 15px;

    .icon {
        height: 17px;
    }

    .stay-order {
        display: grid;
        // flex:1;
        grid-template-columns: 2fr 1fr;
        grid-column: 2;
        margin-top: 30px;
        padding-inline: 80px;
        // column-gap: 4.5em;

        .icon {
            // width: 100%;
            height: 17px;
            margin-left: 0;

        }

        .header {
            display: flex;
            grid-column: 1 /span 2;

            align-content: flex-start;
            justify-content: flex-start;

            button {
                padding: 0;
                margin-left: -30px;
                margin-right: 30px;
            }

            h2 {
                font-size: 2em;
                font-weight: 500;
            }
        }

        button {
            background-color: white;
            border: none;

        }

        .grid {
            grid-column: 1 / span 1;
        }

        .rare-find {
            display: flex;
            align-content: center;
            justify-content: space-between;
            border: 1px solid rgb(217, 211, 211);
            margin-left: 20px;
            padding-right: 10px;
            padding: 5px;
            border-radius: 10px;
            margin-top: 20px;

            h5 {
                font-size: 1em;
                margin: 13px 0 15px 15px;
            }

            h5:last-of-type {
                font-weight: 400;
                // margin-bott: 10px;
            }

            .diamond {
                height: 32px;
                margin: 18px 35px 0 0;

            }
        }

        .order-edit {
            // display: flex;
            grid-column: 1;
            align-content: center;
            justify-content: space-between;
            margin-left: 20px;

            button {
                height: 20px;
                border-bottom: 3px solid black;
                border-radius: 0;
                padding: 0;
                margin-top: 20px;
            }

            h3 {
                margin-top: 25px;
                margin-bottom: 3px;
                font-size: 1.4em;
            }

            h4 {
                margin-bottom: 5px;
            }
        }

        .flex {
            display: flex;
            align-content: center;
            justify-content: space-between;
        }

        .order-pay {
            margin-left: 20px;
            margin-top: 40px;

            h3 {
                font-size: 1.4em;
            }

            h4 {
                border: 1px solid rgb(217, 211, 211);
                padding: 15px;
                border-radius: 10px;
                font-size: 1.2em;
                font-weight: 400;
                color: $gray4;
            }

            .card-details {

                display: grid;
                grid-template-columns: 1fr 1fr;

                h4 {
                    margin: 0;
                }

                h4:first-of-type {
                    grid-column: 1/span 2;
                    border-bottom: 0;
                    border-radius: 10px 10px 0 0;
                }

                h4:nth-of-type(2) {
                    grid-column: 1/ span 1;
                    border-radius: 0 0 0 10px;
                }

                h4:nth-of-type(3) {
                    grid-column: 2/span 1;
                    border-radius: 0 0 10px 0;
                    border-left: 0;
                }

                h4:nth-of-type(4) {
                    grid-column: 1/span 2;
                    margin-top: 10px;
                }
            }
        }


        .price-details {
            display: grid;
            grid-column: 3;
            grid-row: 1/span 4;
            margin: 20px;
            padding: 20px;
            border: 1px solid rgb(208, 204, 204);
            border-radius: 10px;

            // .sticky-div {
            // position: -webkit-sticky;
            position: sticky;
            top: 0;
            width: 100%;
            // }

            .main-name {
                h4 {
                    font-size: 1em;
                    margin: 9px;
                }

                h4:last-of-type {
                    margin-bottom: 12px;
                    font-weight: 300;
                }
            }

            .rating {
                display: flex;
                align-content: center;
                justify-content: left;

                .icon {
                    height: 13px;
                    margin: 2px
                }

                span {
                    font-weight: 500;
                    font-size: 15px;
                }
            }

            img.stay-img {
                display: grid;
                grid-column: 1;
                height: 100px;
                border-radius: 10px;
                aspect-ratio: 1/1;
                // object-fit: cover;
            }

            .price-calc {
                display: grid;
                grid-column: span 2;
                margin-top: 20px;
                border-top: 1px solid #ccc;


                h3 {
                    font-weight: 400;
                    margin: 8px;
                    letter-spacing: -0.5px;
                }

                h3:last-of-type {
                    margin-bottom: 7px;
                }

                span span {
                    font-size: 15px;
                }
            }

            .price-calc,
            .total {
                // grid-column: span 2;
                display: flex;
                justify-content: space-between;

            }

            .total {
                grid-column: span 2;
                border-top: 1px solid #ccc;
                margin-top: 10px;
            }

            .total h3 {
                margin-bottom: 5px;
            }

            .grid-item p {
                margin-left: 10px;
                margin-bottom: 7px;
            }

            .add-grid {
                display: grid;
                grid-column: span 2;
            }

            .light {
                text-decoration: underline;
                text-decoration-thickness: 1px;
                text-decoration-color: #000;
            }

        }

        .payment button {
            border-radius: 5px;
            width: 210px;
            padding: 18px;
            margin: 15px 0 15px 18px;
            font-size: 19px;
            color: $gray1;
            // font-weight: bold;
            background: linear-gradient(90deg, #e00b41, #c21c54);
            border-radius: 10px;
            border: 1px solid rgb(240, 231, 231);
            // transition: background-color 0.5s ease, transform 0.3s ease;
            transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

            &:hover {
                background: linear-gradient(90deg, #c21c54, #e00b41);
            }
        }
    }
}

// .stay-main-order {

@media (max-width: 743px) {

    // @include for-mobile-layout {
    .stay-main-order {
        display: grid;
        grid-template-columns: 1fr;
        // display: flex;
        // flex-direction: column; 
        // gap: 1rem;
        max-width: 743px;
        // margin-inline: 0;

        // .stay-order .header {
        //     display: none;
        // }

        .stay-order {
            grid-column: 1;
            display: block;
            display: flex;
            flex-direction: column;
        }

        .stay-order .header,
        .price-details,
        .order-edit,
        .order-pay,
        .rare-find {
            // padding-block-end: 90px;

            grid-template-columns: 1;
            max-width: 743px;
            display: grid;


        }

        .price-details {
            position: static;
            // grid-column: 1 / -1;
            // order: -1;

        }

        .details-imgs {
            grid-row: 1;
            border-radius: 0;

            .img-container {
                grid-column: span 3;
            }
        }
    }
}

// }

// h1 {
//     grid-row: 2 !important;
//     margin-block: 24px 16px !important;
//     padding-inline: 24px;
// }

// .details-container {
//     margin-block-start: 0 !important;
//     grid-template-columns: 1fr !important;
//     grid-row: 3;

//     /* Change to one column on small screens */

//     .initial-info>* {
//         padding-inline: 24px;
//     }

//     .bedrooms,
//     .amenities {
//         padding-inline: 24px;



//     }