.listings {
    padding: 2em;
    width: 100%;
    position: relative;
    margin-bottom: 1em;

    h2 {
        font-size: 1.5em;
        margin-bottom: 1em;
        position: sticky;
        top: 0;
        background-color: white;
        width: 100%;
        padding-block: 1em;
    }

    .listings-main {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        grid-auto-rows: 400px;
        gap: 2.5em;
        width: 100%;
        margin-bottom: 2em;

    }

    .listing-item {
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 12px;
        overflow: hidden;
        // width: calc(33.333% - 1em);
        cursor: pointer;
        transition: box-shadow 0.3s ease;
        display: flex;
        justify-content: space-between;
        flex-direction: column;


        &:hover {
            box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
        }

        img {
            height: 100%;
            width: 100%;
            overflow: hidden;
            object-fit: cover;
            border-bottom: 1px solid #e0e0e0;
        }

        div {
            padding: 1em;
            display: flex;
            flex-direction: column;


            p {
                margin: 0.5em 0;
                font-size: 0.9em;
                color: #555;

                &:first-child {
                    font-weight: bold;
                    color: #333;
                }
            }
        }
    }

    h5 {
        font-size: 20px;
    }

    .add-btn-cont {
        width: 100%;
        display: flex;
        justify-content: center;

        .add-stay-btn {
            background-color: $clr-light-red;
            color: white;
            border: 0;
            border-radius: 15px;
            width: 220px;
            height: 70px;
            font-size: 20px;
            white-space: nowrap;
            margin-block: 1em;
            position: relative;

         
        }
        .add-stay-btn:hover {
            background-color: $clr-red;
        }
        
    }
}