.loginsignup {
    position: relative;
    background-color: white;
    z-index: 61;
    border-radius: 15px 15px 0 0;
    padding-block-end: 1.5em;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    padding-block-end: 5em;


    .loginsignup-content {
        height: 100%;

        .loginsignup-header {
            display: flex;
            border-bottom: 1px solid $gray3;
            padding: 1em;
            align-items: center;

            p {
                margin: 0 auto;
                font-weight: 700;
            }

            button {
                background-color: white;
                border: 0;
                padding: 0.5em;
            }

            button:hover {
                background-color: $gray2;
            }
        }

        .loginsignup-main {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 1em;
            height: 90%;


            h4 {
                font-size: em(22px);
                font-weight: 600;
                margin-block: 0 1em;
            }

            div {
                display: flex;
                flex-direction: column;
            }

            .loginsignup-inputs {
                margin-bottom: 1em;
                padding-inline: 0.5em;
                gap: 1em;
                display: flex;
                flex-direction: column;
                align-items: center;

                // >*{
                //     max-width: 400px;
                // }
                filedset {
                    padding: 1em;
                }


            }

            button {
                width: 100%;
                margin-bottom: 0.5em;

            }

            button:first-of-type {
                background-color: $clr-red;
                color: white;
                border: 0;
            }

            button:last-of-type {
                background-color: white;
            }

            button:last-of-type:hover {
                background-color: $gray1;
            }
        }
    }

    .css-1jk99ih-MuiInputBase-input-MuiOutlinedInput-input {
        width: 90%;
    }
    .css-qyvk1c-MuiFormControl-root-MuiTextField-root{
        min-width: 300px;
    }

}