.main-filter {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    max-width: em(850px);
    margin-inline: auto;
    margin-bottom: em(24px);
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    border: 1px solid $gray1;

    .who-input,
    .when-input,
    .where-input {
        padding: em(14px) em(24px);
        border-radius: 50px;
        position: relative;
        display: flex;

        label {
            color: $gray5;
            font-weight: 500;
            cursor: pointer;
        }

        input {
            border: 0;
            outline: 0;
            background: none;
            flex: 1;
        }

        
    }

    .where-input,
    .when-input-end,
    .when-input-start,
    .who-input>div:first-of-type{
        display: flex;
        justify-content: space-between;
        align-items: center;
        >button {
            background-color: inherit;
            border-radius: 50%;
            padding: 0.5em;
            display: inline;
            width: 1.5em;
            height: 1.5em;
            border: 0;
            font-size: em(13px);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        >button:hover {
            background-color: $gray6;
        }
    }

    .where-input>div,
    .when-input-start>div,
    .when-input-end>div {
        display: flex;
        flex-direction: column;

    }

    .where-input {
        padding-inline: 2em;
        width: 17.5em;

    }

    .when-input {
        flex-direction: row;
        padding: 0;
    }

    .when-input-start,
    .when-input-end {
        border-radius: 50px;
        padding: em(14px) em(24px);
        width: 10em;
        input{
            width: 5em;
        }

    }

    .who-input {
        display: flex;
        align-items: center;
        position: relative;
        flex-direction: row;
        padding-block: em(9px);
        width: 16em;
        justify-content: space-between;

        input {
            width: 10em;
            cursor: pointer;
        }
        >div:first-of-type>div{
            display: flex;
            flex-direction: column;
        }

        .search-button {
            background-color: $clr-light-red;
            border-radius: 50%;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3em;
            height: 3em;
            border: 0;

            img {
                max-width: 1em;
                height: 1em;
            }
        }



    }



    .who-input:hover,
    .where-input:hover,
    .when-input>div:hover {
        background-color: $gray1;
    }

    &.has-selection {
        background-color: $gray7;

        .selected {
            background-color: white;
        }

        .when-input-start.selected,
        .when-input-end.selected {
            background-color: white;
        }

        .where-input:hover:not(.selected),
        .when-input-start:hover:not(.selected),
        .when-input-end:hover:not(.selected),
        .who-input:hover:not(.selected) {
            background-color: $gray2;
        }
    }



    // hr {
    //     height: 40px;
    //     width: 1px;
    //     background-color: $gray1;
    // }

    // div:hover+hr,
    // div:hover~hr {
    //     opacity: 0;
    // }

}