.modal-booking {
    display: grid;
    place-items: center;
    column-gap: 1.5em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    box-sizing: border-box;

    h4 {
        margin: 0;
        margin-top: 5px;
    }

    .modal-header {
        grid-column: 1 /span 2;
        text-align: start;
        margin-top: 30px;
        justify-self: flex-start;

        p {
            margin: 0;
        }

        .modal-success {
            display: flex;
        }

        .success.icon {
            height: 25px;
            margin-right: 10px;
            margin-top: 22px;
        }
    }

    .modal-details {
        grid-column: 1 /span 1;
        grid-row: 2;
        width: 100%;

        h3 {
            margin-top: 0;
        }
    }

    .modal-img {
        grid-column: 2 /span 1;
        grid-row: 2;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
        width: 60%;
    }

    .modal-img img {
        border-radius: 10px;
    }

    .img-name {
        h5 {
            font-weight: 500;
            margin: 5px;
        }
    }

    .modal-btn {
        grid-column: 1 /span 2;
        grid-row: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;

        button.back {
            background-color: $gray4 !important;
            background: none;
            width: 9em;
            height: 2.5em;
            line-height: 0.5;
            font-weight: 400;
            margin-right: 40px
        }

        button.confirm {
            height: 2.5em;
            width: 9em;
            line-height: 0.5;
            font-weight: 400;
            margin-right: 70px;
        }
    }

    .price-calc {
        margin-top: 5px;
        border-top: 1px solid #ccc;

        h3:nth-of-type(even) {
            grid-column: 2;
        }

        h3 {
            font-size: 1em;
            font-weight: 400;
            margin: 5px;
            margin-left: 0;
            letter-spacing: -0.5px;
        }

        h3 {
            grid-column: 1;
        }

        span span {
            font-size: 16px;
        }
    }

    .price-calc,
    .total {
        display: flex;
        justify-content: space-between;

    }

    .total {
        grid-column: span 2;
        border-top: 1px solid #ccc;
    }

    .grid-item p {
        margin-left: 10px;
        margin-bottom: 7px;
    }

    .add-grid {
        display: grid;
        grid-column: span 2;
    }
}

.modal-booking section {
    background-color: white;
    font-size: 1rem;
    border-radius: 10px;
    max-width: 60%;
    max-height: 80vh;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    margin: 0 auto;
    padding-inline-start: 80px
}

.hidden {
    display: none;
}


@media (min-width: 1330px) {
    .modal-booking section {
        max-width: 60%;
    }
}

@media (max-width: 1045px) {
    .modal-booking section {
        padding-inline-start: 40px
    }
}

@media (max-width: 830px) {
    .modal-booking section {
        padding-inline-start: 20px
    }
}

@media (max-width: 750px) {
    .modal-booking section {
        max-width: 100%;
        max-height: 100%;
        flex-direction: column;
        display: flex;
        padding-inline: 50px;
    }

    .modal-header {
        margin-bottom: 30px;
        margin-right: 22%;

        h2 {
            padding: 0;
            font-weight: 500;
            font-size: 1.6em;
            margin-top: 12px;
        }
    }

    .modal-details {
        border-bottom: 5px solid $gray2;
    }

    .total {
        margin-bottom: 10px;
    }

    .modal-booking {
        .modal-img {
            margin-bottom: 30px;
            height: 18%;
            box-shadow: none;
            display: flex;
            width: 100%;
            padding: 10px 0 10px 0;
        }

        .img-name {
            margin: 10px;
            font-size: 1.3em;
            margin-top: 40px;
        }
    }

    .modal-details {
        order: 2;
        border: none;
    }

    h3 {
        margin-top: 20px;
        font-weight: 500;
        font-size: 1.4em;
    }


    .modal-btn {
        order: 3;
    }

    .modal-booking .modal-btn button.back {
        margin-right: 0;
    }
}