.modal-booking {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding-inline: 60px;
    box-sizing: border-box; 

    h4 {
        margin: 0;
        margin-top: 5px;
    }

    .modal-header {
        grid-column: 1 /span 2;
        text-align: start;
        justify-content: center;
        margin-top: 40px;
        margin-right: 90px;

        p {
            margin: 0;
        }

        .modal-success {
            display: flex;
        }

        .success.icon {
            height: 25px;
            margin-right: 10px;
            margin-top: 22px;
        }
    }

    .modal-details {
        grid-column: 1 /span 1;
        grid-row: 2;
        width: 80%; // display: grid;

        h3 {
            margin-top: 0;
        }
    }

    .modal-img {
        grid-column: 2 /span 1;
        grid-row: 2;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
        height: 85%;
        width: 80%;
        margin-left: 20px;
    }

    .modal-img img {
        // max-width: 100%;
        border-radius: 10px;
    }

    .img-name {
        h5 {
            font-weight: 500;
            margin: 5px;
        }
    }

    .modal-btn {
        grid-column: 1 /span 2;
        grid-row: 3;
        display: flex;
        align-items: center;
        justify-content: center;

        button.back {
            background-color: $gray4 !important;
            background: none;
            width: 9em;
            height: 2.5em;
            line-height: 0.5;
            font-weight: 400;
        }

        button.confirm {
            height: 2.5em;
            width: 9em;
            line-height: 0.5;
            font-weight: 400;
        }
    }

    .price-calc {
        // display: grid;
        // grid-column: span 2;
        margin-top: 5px;
        border-top: 1px solid #ccc;

        h3:nth-of-type(even) {
            grid-column: 2;
        }

        h3 {
            font-size: 1em;
            font-weight: 400;
            margin: 5px;
            margin-left: 0;
            letter-spacing: -0.5px;
        }

        h3 {
            grid-column: 1;
        }

        span span {
            font-size: 16px;
        }
    }

    .price-calc,
    .total {
        // grid-column: span 2;
        display: flex;
        justify-content: space-between;

    }

    .total {
        grid-column: span 2;
        border-top: 1px solid #ccc;
        // margin-top: 10px;
    }

    // .total h3 {
    //     margin-bottom: 5px;
    // }

    .grid-item p {
        margin-left: 10px;
        margin-bottom: 7px;
    }

    .add-grid {
        display: grid;
        grid-column: span 2;
    }

}

.modal-booking section {
    background-color: white;
    font-size: 1rem;
    border-radius: 10px;
    max-width: 80%;
    width: 60em;
    // top: 7em;
    // left: 12em;
    max-height: 80vh;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    margin: 0 auto;
}

.hidden {
    display: none;
}