.reservations {
    padding: 0.5em;
    position: relative;

    h2 {
        margin-bottom: 1.25em;
        font-size: 1.5em;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 1em;

        th,
        td {
            padding: 0.75em 0.9375em;
            text-align: center;

            a {
                text-decoration: none;
                color: black;
            }
        }

        thead th {
            font-weight: 700;
            text-align: center;
            border-bottom: 0.125em solid #e6e6e6;
        }

        tbody tr {
            border-bottom: 0.0625em solid #e6e6e6;
            transition: background-color 0.3s;

            &:hover {
                background-color: #f9f9f9;
            }

        }
    }

    .narrow-res {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 5em;
        padding-inline: 2em;

        .res-item {
            display: flex;
            flex-direction: column;
            // border: 1px solid black;
            padding-inline: 0.5em;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
            border-radius: 15px;

            div {
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    //white-space: nowrap;
                    text-transform: capitalize;
                }
            }

            .name {
                text-decoration: none;
                color: black;

            }
        }

    }

    .status {
        font-weight: 700;

        &.approved {
            color: $basic-green;
        }

        &.declined {
            color: $basic-red;
        }

        &.pending {
            color: $basic-yellow;
        }
    }

    .actions {
        display: flex;
        justify-content: space-between;

        button {
            padding: 0.375em 0.75em;
            border-radius: 0.375em;
            border: 0.0625em solid #ccc;
            color: white;
            cursor: pointer;
            box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
            font-size: 0.875em;
            transition: background-color 0.3s, transform 0.2s;

            &:hover {
                background-color: darken($clr-light-red, 10%);
                transform: translateY(-0.125em);
                box-shadow: 0 0.375em 0.75em rgba(0, 0, 0, 0.2);
            }

            &:not(:last-child) {
                margin-right: 0.5em;
            }
        }

        button:first-of-type {
            background-color: $basic-green;
        }

        button:last-of-type {
            background-color: $basic-red;
        }
    }

    .reservations-filter {
        margin-bottom: 1.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;

        background-color: white;
        border-bottom: 1px solid $gray1;
        padding-block: 1em;

        .res-filter-cont {
            display: flex;
            width: 100%;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            gap: 1em;

        }

        .filter-type {
            display: flex;

            button {
                padding: 0.5em 1em;
                margin-right: 0.5em;
                border-radius: 0.375em;
                border: none;
                background-color: #e6e6e6;
                cursor: pointer;
                transition: background-color 0.3s, transform 0.3s;

                &.selected {
                    background-color: #ff385c;
                    color: white;
                }

                &:hover {
                    transform: translateY(-0.125em);
                }
            }

        }

        .css-1vxbuxi,
        .css-yy3q0-MuiFormControl-root {
            margin: 0;
        }

        .filter-listing {
            margin-block: 5px;

            .css-yy3q0-MuiFormControl-root {
                min-width: 250px;
            }
        }

        .filter-page {
            display: flex;
            align-items: center;
            gap: 1em;

            button {
                background-color: white;
                border: none;
                color: black;
                padding: 1em;
                cursor: pointer;
                transition: all 0.3s ease;
                border-radius: 50%;
                border: 1px solid $gray3;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                margin: 0;
                height: 2em;
                width: 2em;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    max-width: 1em;
                    height: 1em;
                }

                &:hover {
                    transform: translateY(-3px);
                    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
                }
            }

            span {
                font-size: 1.2em;
                font-weight: bold;
                padding: 0 0.5em;
            }
        }
    }
}