.stay-list {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;

    a {
        text-decoration: none;
        color: inherit;
    }


    li {
        display: grid;
        margin-bottom: 10px;
    }
}

.stay-main-list {
    display: grid;
    grid-template-columns: minmax(0, 60px) 1fr minmax(0, 60px);

    >* {
        grid-column: 2;
    }
}