.slider-container {
    position: relative;
    width: 100%;
    // max-width: 500px;
    // max-height: 475px;
    // 320px X 304px;
    // max-width: 280px;
    // max-height: 265px;
    height: auto;
    margin: 0;
    padding: 0;
    object-fit: cover;
  
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    overflow: hidden;

    .img-body {
        position: relative;
    }


    .img-body img {
        width: 100%;
        height: auto;
        // object-fit: cover;
        aspect-ratio: 1/1;
        position: relative;
    
    }

    .slick-dots {
        position: absolute;
        bottom: 10px;
        /* מיקום העיגולים למטה */
        left: 50%;
        transform: translateX(-50%);
        padding: 0;
        margin: 0;
    }


    .slick-dots li {
        margin: 0;
        /* רווח בין העיגולים */
    }


    /* עיצוב לחיצים בצדדים */
    .slick-prev,
    .slick-next {
        width: 35px;
        height: 35px;
        // border-radius: 50%;
        z-index: 1;
    }

    // .slick-next {
    //     display: none;
    //     z-index: 0;
    // }

    // .hidden {
    //     display: none;
    // }

    // .slick-prev,
    // .slick-next {
    //     // font-size: 9px;
    //     background-color: white;
    //     transition: all 0.3s ease;

    // }


    .custom-arrow {
        // opacity: 0;
        background-color: white;
        border: none;
        color: black;
        padding: 1em;
        cursor: pointer;
        transition: all 0.3s ease;
        border-radius: 50%;
        border: 1px solid $gray3;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin: 0;
        height: 2em;
        width: 2em;
        transition: opacity 0.3s ease;

        // img {
        //     max-width: 1em;
        //     height: 1em;
        // }

        &:hover {
            opacity: 1;
            transform: translateY(-3px);
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
        }
    }

    // .stay-preview button:hover .custom-arrow {
    //         opacity: 1;
    // }

    .slick-prev::before,
    .slick-next::before {
        opacity: 0;
    }

   
    .slick-prev {
        left: 13px;
        // top: 151px;
    }

    .slick-next {
        right: 13px;
        // top: 151px;
    }


    ul.slick-dots {
        display: block;
    }

    .slick-dots li button {
        transform: scale(0.5);
        position: absolute;
        bottom: 17px;
    }

    //  .btn-heart{
    //     width: 20px;
    //     height: 20px;
    //     z-index: 10;
        
    // }

    .slick-dots li button:before {
        opacity: 0;
    }

    .slick-dots li.slick-active button:before {
        color: none;
        opacity: 0;
    }

    .slick-dots li {
        width: 11px;
        // bottom: 10p;
    }

    ul.slick-dots {
        // display: block;
        display: flex;
    }

    /* עיצוב לעיגולים */
    .slick-dots li button {
        position: relative;
        border-radius: 50%;
        width: 1px;
        height: 1px;
        background-color: #dddddd;
    }

//     .custom-next-arrow.slick-arrow.slick-prev{
// opacity: 1;

//     }

    /* עיצוב לעיגול פעיל */
    .slick-dots .slick-active button {
        background-color: aliceblue;
        // opacity: 0;
        // .slick-prev,
    }

    .slick-dots li:nth-child(n+6) {
        display: none;
    }

    .slick-dots li:nth-child(2) button,
    .slick-dots li:nth-child(4) button {
        width: 0.6px;
        height: 0.6px;
        /* גובה עיגולי צד */
    }

    // .slider-container {
    //     position: relative;
    // }
    
    // .img-container {
    //     position: relative;
    // }
    
    // .btn-heart {
    //     position: absolute;
    //     top: 10px; 
    //     right: 10px; 
    //     background: transparent; 
    //     border: none;
    //     z-index: 10; 
    // }
    
    // .btn-heart img {
    //     width: 30px; 
    //     height: 30px; 
    // }


}