.stay-list {

    // body {
    //     max-width: 1390px;
    // }

    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;


    li {
        display: grid;
        // padding: .5em;
        margin-bottom: 40px;
    }
}

