.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.1em;
    margin-block-start: 0.5em;
    position: relative;
    

    img {
        height: 1.3em;
        max-width: 1.3em;
    }
    p{
        cursor: pointer;
    }

    .user-profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid $gray1;
        border-radius: 50px;
        padding: 0.6em 1em;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;

        .profile {
            height: 32px;
            width: 32px;
            margin-inline-start: 0.5em;
            
            

            img {
                height: 100%;
                max-width: 100%;
                border-radius: 50%;
            }
        }
    }

    .user-profile:hover {
        background-color: inherit;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

    }
}

.user-header>* {
    border-radius: 50px;
    padding: 1em;
}

.user-header>:hover {
    background-color: $gray1;
}

.user-modal {
    position: absolute;
    right: 0;
    top: 100%;
    border-radius: 15px;
    z-index: 50;
    background-color: white;
    padding: 0;
    width: 80%;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);

    div {
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        padding-block: 1em;
        cursor: pointer;

        p {
            margin: 0;
            padding: 1em;
            

        }

        p:hover {
            background-color: $gray1;
        }
        .bolder{
            font-weight: 500;
        }
    }

    >*div {
        z-index: 50;
    }
}

.user-modal:hover {
    background-color: white;
}

.outside-click{
    padding: 0;
}
