* {
    box-sizing: border-box;
}

html {
    line-height: 1.6;
}

body {
    // margin: 0 auto;
    // font: Roboto;
    // font-family: Airbnb_Cereal-Bold, sans-serif;
    font-family: "Airbnb Cereal VF", Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    // font-size: rem(18px);
}


img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

input {
    max-width: 100%;
}