@include for-mobile-layout {}

@include for-narrow-layout {}

@include for-normal-layout {
    .main-filter {
        max-width: 100%;

       
    }
    .when {
        right: 0;
        left: 0;
        top: 100%;
        
        background-color: white;
    }

    .extra-filter {
        width: 35.5em;
        height: 35em;
        border-radius: 25px;
        left: 50%;
        top: 50%;
        bottom: auto;
        transform: translate(-50%, -50%);
        .extra-footer{
            bottom: auto;
        }
    }

}

@include for-wide-layout {
    .main-filter {
        max-width: em(850px);

        .when {
            padding-inline: 0;
        }
    }


}


@include for-large-layout {}