@media (max-width: 390px) {
    .mobile-filter input {
        width: 60px;
    }
}

@include for-narrow-layout {}

@include for-normal-layout {
    .labels-filter .labels-container {
        overflow: hidden;
    }

    .labels-filter button {
        display: flex;
    }

    .loginsignup {
        width: em(570px);
        height: em(480px);
        position: static;
        border-radius: 15px;
        padding-block-end: 1em;
    }

    .extra-filter .extra-main {
        scrollbar-width: auto;

        .price .chart {
            display: block;
        }
    }

    // .loginsignup{
    //     position: sticky;
    //     bottom: 0;
    //     width: 100%;
    // }



}

@include for-wide-layout {}


@include for-large-layout {
    .main-filter .who-input {
        .search-button span {
            display: block;
        }

        .search-button.expanded {
            width: em(160px);
            border-radius: 50px;
            gap: 0.5em;
            background-color: $clr-red;
        }
    }
}