@include for-mobile-layout {
    .loginsignup{
        position: sticky;
        bottom: 0;
        width: 100%;
    }
    
    .extra-filter, .extra-outside{
        height: 100%;
        width: 100%;
    }
    .extra-filter{
        margin-top: 1em;
        border-radius: 25px;
    }
    
}

@include for-narrow-layout{
    
    .extra-filter, .extra-outside{
        height: 100%;
        width: 100%;
    }
    .extra-filter{
        margin-top: 1em;
      
    }
   
}
@include for-normal-layout {
    .main-filter {
        max-width: 100%;

        .when {
            padding-inline: 7em;
            left: -100%;
            background-color: white;
        }
    }
    .extra-filter{
        height: 35em;
        width: 35.5em;
        border-radius: 25px;
        margin-block: 2.5em;
    }
    
}

@include for-wide-layout {
    .main-filter {
        max-width: em(850px);

        .when {
            padding-inline: 0;
        }
    }


}


@include for-large-layout {}