.stay-payment {
    display: grid;
    width: 100%;
}


@include for-mobile-layout {
.stay-list{
      grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
}

}

@include for-narrow-layout {

    .stay-payment {
        grid-template-columns:
            minmax(auto, 20px);
    }

    .stay-order {
        grid-column: 1;
    }
}

@include for-normal-layout {

    .stay-payment {
        grid-template-columns:
            minmax(auto, 100px);
    }

    .stay-order {
        grid-column: 1;
    }
}

@include for-wide-layout {
 
    .stay-payment {
        grid-template-columns:
            minmax(auto, 140px);
    }

    .stay-order {
        grid-column: 2;
        padding-inline: 0;
    }
}


@include for-large-layout {
 
    .stay-payment {
        grid-template-columns:
            minmax(auto, 200px);
    }

    .stay-main-order {
        grid-column: 2;
        grid-template-columns: 1fr 1fr;
 
        .stay-order {
            display: grid;
            grid-column: 2;
          
        }
    }
}

@media(min-width:1440px) {
    .stay-list {
        padding: 40px;
    }
}

// @media(max-width:550px) {
//     .stay-list {
//         padding: 24px;
//     }
// }
@media(max-width:550px) {
    .main-container main {
        display: grid;
        grid-template-columns: 24px 1fr 24px;
    }

    .stay-list {
        padding: 0;
    }
    
}
