.reviews-stay {
    box-shadow: 0px -1px 0 0 #e1dede !important;
    padding-block-start: 40px;

    .reviews-list {
        column-count: 2;
        // column-gap: 6.5em;
    }

    .reviewer-profile {
        display: flex;
        align-items: center;
        // justify-content: flex-start;
        margin-bottom: 10px;
    }

    .review-details {
        display: flex;
        align-items: center;
        margin-top: 8px;
    }

    .review-details span {
        margin: 0 3px;
        color: $gray4;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: -0.5px;

        span {}
    }

    .dot {
        transform: scale(0.5);
    }

    .review-details p {
        margin-top: 8px;
    }


    .stars-container {
        display: flex;
        align-content: start;
        justify-content: start;

        .stars {
            height: 0.6em;
            color: $gray3;
        }

    }

    .review-preview {
        height: 226px;
        padding: 0 8px;
        margin-right: 15%;

        h4 {
            color: $gray5;
        }

        h4:last-of-type {
            font-weight: 400;
        }
    }

    .reviewer-info {
        display: flex;
        flex-direction: column;
    }

    .rating {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 600;
        font-size: 26px;
        margin-bottom: 50px;

        .reviews-number {
            font-size: 28px;
            font-weight: 600;
        }

        .star-icon {
            width: 20px;
        }

        .dot-big {
            transform: scale(0.7);

            // width: 0.5rem;
        }


    }

    .reviewer-image {
        width: 48px;
        //   height: 100%; 
        height: 48px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;

    }

    .star-icon {
        width: 1rem;
    }

    .review-txt{
        line-height: 1.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media(max-width:743px) {
    .reviews-stay{
        padding-block-start: 24px;
        margin-inline: 24px;
    }
    
}


// cle className="review-preview">
//             <div className='reviewer-profile'>
//                 <img src={review.by.imgUrl} alt={`${firstName}'s profile`} className="reviewer-image" />
//                 <h4>{firstName}</h4>
//                 <h4>{review.address}</h4>
//             </div>
//             <div>
//                 <div className="stars-container