.main-info {

    &.modal-closed {
        display: flex;
    }

    .initial-info>* {
        margin-block-end: 0px;
        color: $gray5;
    }

    .initial-info {
        line-height: 1.5;
        width:100%;

        h2 {
            font-size: 22px;
            padding-block: 0;
            margin-block: 0;

            .type {
                text-transform: capitalize;
            }
        }

        .first-block,
        .highlights,
        .host-info,
        .description {
            box-shadow: 0px 1px 0 0 #e1dede;
        }    

        .first-block {
            padding-block-end: 2rem;
        }

        .capacity {
            display: flex;
            gap: 5px;
            font-size: 1rem;
        }

        .rating {
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: 500;
            font-size: 1.0625em;

            .reviews-number {
                font-size: 1rem;
                text-decoration: underline;
            }
        }

        .star-icon {
            width: 1rem;
        }
    }

    .host-info {
        display: flex;
        gap: 1rem;
        align-items: center;
        max-width: 650px;
        font-size: 1rem;
        padding-block: 1.5rem;


        img {
            height: 2.5rem;
            border-radius: 50%;
            object-fit: cover;
        }

        p {
            margin: 0;
            line-height: 1;
        }

    }

    .highlights {
        padding-inline-start: 0.5rem;
        padding-block: 2rem;
        max-width: 650px;

        .highlight {
            display: flex;
            gap: 1.5rem;

            h3 {
                font-size: 1rem;
                margin-block: 0 2px;
            }

            p {
                font-size: 0.875rem;
                color: $gray4;
                font-weight: 400;
                margin-block: 0;
            }
        }

        .highlight:not(:last-child) {
            margin-block-end: 1.5rem;

        }

        img {
            width: 1.5rem;
            object-fit: contain;
        }
    }

    .description {
        font-size: 1rem;
        line-height: 1.5rem;
        max-width: 650px;
        padding-block: 2rem 3rem;

        .show-more div {
            padding-bottom: 1rem;
            font-weight: 400;
        }

        .btn-link {
            display: flex;
            align-items: center;
            gap: 0.25rem;

            .arrow-icon {
                width: 1rem;
            }
        }
    }

    .details-seperation-line {
        max-width: 650px;
        margin-block: 2rem;
        border-top: 0px solid $gray1;
        margin-inline-start: 0; // Align to the start

    }


}