.amenities {
    padding-block: 3rem;
    box-shadow: 0 1px 0 0 #e1dede;
    max-width: 653px;

    h3 {
        font-size: 1.5rem;
        padding-block-end: 1.5rem;
    }

    &.modal-closed {
        .items {
            display: grid;
            grid-template-columns: repeat(2, minmax(290px, 334px));
    
            .item{
                grid-column: span 1;
                div {
                    display: flex;
                    gap: 10px;
                    padding: 1rem;
                }
            }
        }
        button {
            margin-block-start: 1.5rem;;
        }
    }

    &.modal-open {
        display: grid;
        align-items: center; // Center items vertically within the grid
        justify-content: center; // Center items horizontally within the grid
        width: 780px; // Set the width to 780px when the modal is open
        margin: auto;

        .group {
            h3 {
                font-size: 1.125rem;
                padding:3rem 0;
            }

            &:first-of-type h3 {
                margin-top: 12px;
            }

            .item {
                display: flex;
                flex-direction: column;
                gap:0;
                width: 100%;

                div {
                    display: flex;
                    gap: 1.5rem
                }

                hr {
                    border: none; // Remove default border
                    border-top: 0.25px solid $gray2; // Add a solid border on top
                    margin: 1.5rem 0; // Add some margin above and below the line for spacing
                }
            }




        }
    }
}





//     div {
//         .item {
//             display: flex;
//             gap: 1rem;
//             width: 265px;
//         }

//         .item:nth-of-type(even) {
//             grid-column: 3;
//         }

//         .item:nth-child(n+11) {
//             display: none; // Hide all amenities after the 7th one
//         }

//         .item:not(:last-child) {
//             margin-block-end: 1.25rem;
//         }

//     }
// }


.show-more.amenities-style {


    .modal-content {

        .item:nth-child(n+11) {
            display: flex // Hide all amenities after the 7th one
        }
    }
}

@media (max-width: 740px) {

    // Replace $normal-breakpoint with your breakpoint, e.g., 768px
    .amenities {
        .show-more div {
            grid-column: 1;

            // .item:nth-child(n+8) {
            //     display: none; // Hide all amenities after the 7th one
            // }
        }
    }

    @media (max-width:743px) {
        .amenities {
            button {
                display: block;
                width: 100%;
            }
        }

    }





}