.flow-amenities {
    padding-block: 3rem;
    box-shadow: 0 1px 0 0 #e1dede;

    h3 {
        font-size: 1.5rem;
        padding-block-end: 1.5rem;
    }

    .items {
        display: grid;
        grid-template-columns: repeat(2, minmax(290px, 334px));

        .item {
            grid-column: span 1;

            div {
                display: flex;
                gap: 1.5rem;
                padding: 1rem;

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    button {
        margin-block-start: 1.5rem;

    }
}

@media (max-width: 1100px) {
    .flow-amenities {
        h3 {
            padding-block-end: 24px !important;
        }

        .items {
            >*:nth-child(n+8) {
                display: none;
            }

            display: block !important;

            .item div {
                padding: 0 0 16px 0 !important;
            }
        }

        .show-more div {
            grid-column: 1;
        }
    }
}

@media (max-width: 743px) {
    .flow-amenities {
        margin-inline: 24px;
        
        button {
            width: 100%
        }
    }
}