.host-details {
    // box-shadow: 0px 1px 0 0 #e1dede;
    padding-block-end: 32px;
    box-shadow: 0px -1px 0 0 #e1dede !important;


    h3 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        padding-block-end: 22px !important;
    }

    .host {
        display: grid;
        grid-template-columns: 380px 1fr;
        gap: 64px;

        .host-stats {
            display: inline-flex;
            align-items: center;
            border: 1px solid #f7f7f7;
            box-shadow: 0px 1px 20px 5px #e3e2e2;
            border-radius: 20px;
            max-height: 230px;
            max-width: 380px;
            padding-block: 12px;

            .personal {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-grow: 1;
                gap: 8px;
                position: relative;
                height: 100%;
                /* Added this to position icon-container relative to .personal */

                .host-img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 16px;
                    position: relative;
                    /* Ensure the icon is positioned relative to the image */
                }

                .icon-container {
                    position: absolute;
                    top: 34%;
                    right: 30%;
                    width: 50px;
                    height: 50px;

                    svg {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;

                    }

                    .security-icon {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 18px;
                        /* Adjust as needed */
                        height: 18px;
                        /* Adjust as needed */
                        transform: translate(-50%, -50%);
                        fill: white;

                        path {
                            fill: white !important;
                            /* Set the color of the shield to white */
                        }
                    }
                }

                .host-name {
                    text-align: center;

                    h2 {
                        font-size: 23px;
                        margin: 0 8px;
                        font-weight: bolder;
                    }

                    span {
                        font-size: 14px;
                        font-weight: 600;
                    }

                }

            }

            .stats {
                display: flex;
                flex-direction: column;
                margin-block: 29px;
                width: 96px;

                >* {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    span {
                        font-weight: bolder;

                    }

                    span:first-child {
                        font-size: 22px;

                    }

                    span:last-child {
                        font-size: 10px;
                    }
                }

                .rating {
                    display: flex;

                    div {
                        display: flex !important;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 14px;
                            height: 14px;

                            display: inline-block;
                            /* Ensures the image is treated as an inline element */
                        }
                    }

                }

                hr {
                    width: 100%;
                    border-top: 0px solid #f7f7f7;
                }

            }
        }
    }

    .details {
        grid-column: 2;


        h4 {
            font-size: 18px;
            font-weight: 600;
            padding-block-end: 16px;
        }

        div {
            padding-block-end: 32px;
        }

        .alert {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding-block-start: 16px;
            box-shadow: 0px -1px 0 0 #e1dede;


            img {
                width:24px;
                height: 24px;
            }
            .note {
                font-size: 0.75rem;
                padding-block: 8px;
            }
        }


    }
}

@media (max-width:743px) {

    .host-details {
        .host {
            gap: 0;

            .details {
                grid-row: 2;
                grid-column: span 2;

                h3 {
                    margin-bottom: 0;
                }

                h4 {
                    padding-block-start: 32px;
                }

                .alert{
                    padding-block-end: 0;
                }
            }
        }

    }
}