/* Breakpoint mixins */
@mixin extra-btn {
    background-color: white;
    border-color: $gray3;
    margin-inline-end: 1em;
    font-weight: lighter;
    padding: 0.5em;
    padding-inline-end: 1em;
    border-radius: 40px;
    display: flex;
    align-items: center;

    img {
        height: em(24px);
        width: em(24px);
        margin-inline-end: 0.5em;
    }

    &:hover {
        border: 1px solid black;
    }

    &.selected {
        border: 1px solid black;
        background-color: $gray1;
    }

    &.selected:hover {
        border: 1px solid black;
    }

}

@mixin for-mobile-layout {
    @media (max-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: calc($narrow-breakpoint)) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: $wide-breakpoint) {
        @content;
    }
}

@mixin for-large-layout {
    @media (min-width: $large-breakpoint) {
        @content;
    }
}

// @mixin for-mobile-layout {
//     @media (max-width: calc($mobile-breakpoint + 40px)) {
//         @content;
//     }
// }

// @mixin for-narrow-layout {
//     @media (min-width: calc($mobile-breakpoint + 40px)) {
//         @content;
//     }
// }

// @mixin for-normal-layout {
//     @media (min-width: calc($narrow-breakpoint + 40px)) {
//         @content;
//     }
// }

// @mixin for-wide-layout {
//     @media (min-width: calc($normal-breakpoint + 40px)) {
//         @content;
//     }
// }

// @mixin for-large-layout {
//     @media (min-width: calc($wide-breakpoint + 40px)) {
//         @content;
//     }
// }