// Colors
$clr-red: #e00b41;
$clr-light-red: #ff385c;

$clr3: #ffffff;
$clr4: #000000;

$gray1: #f7f7f7;
$gray2: #dddddd;
$gray3: #b0b0b0;
$gray4: #6a6a6a;
$gray5: #222222;
$gray6: #f0f0f0;
$gray7: #ebebeb;

$basic-red: rgb(204, 51, 51);
$basic-yellow: rgb(255, 204, 0);
$basic-green: rgb(0, 153, 76);


$mobile-breakpoint: 550px;
$narrow-breakpoint: 743px;
$wide-breakpoint: 950px;
$large-breakpoint: 1130px;

// $opacity1: #000000, opacity 0%;
// $opacity2: #ffffff, opacity 90.0%;
// $opacity3: #222222, opacity 10.0%;