// Colors
$clr-red: #e00b41;
$clr-light-red: #ff385c;

$clr3: #ffffff;
$clr4: #000000;


$gray1: #f7f7f7;
$gray2: #dddddd;
$gray3: #b0b0b0;
$gray4: #6a6a6a;
$gray5: #222222;

// $opacity1: #000000, opacity 0%;
// $opacity2: #ffffff, opacity 90.0%;
// $opacity3: #222222, opacity 10.0%;

// Breakpoints
// $mobile-breakpoint: 460px;
// $narrow-breakpoint: 720px;
// $normal-breakpoint: 960px;

$mobile-breakpoint: 600px;
$narrow-breakpoint: 920px;
$normal-breakpoint: 1100px;
$wide-breakpoint: 1350px;

// 1071, 889, 676, 529






