// Colors
$clr-red: #e00b41;
$clr-light-red: #ff385c;

$clr3: #ffffff;
$clr4: #000000;

$gray1: #f7f7f7;
$gray2: #dddddd;
$gray3: #b0b0b0;
$gray4: #6a6a6a;
$gray5: #222222;
$gray6: #f0f0f0;
$gray7: #ebebeb;


// $opacity1: #000000, opacity 0%;
// $opacity2: #ffffff, opacity 90.0%;
// $opacity3: #222222, opacity 10.0%;

// Breakpoints
// $mobile-breakpoint: 460px;
// $narrow-breakpoint: 720px;
// $normal-breakpoint: 960px;

$mobile-breakpoint: 550px;
$narrow-breakpoint: 740px;
$wide-breakpoint: 950px;
$large-breakpoint: 1130px;

$normal-breakpoint: 800px;

// 1071, 889, 676, 529






